@charset "UTF-8";

.content{
	background-color: #f5f5f5;
}
.item-card{
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #eee;
}
.item-card h3.title{
	font-size: 18px;
    text-align: center;
}
.item-card .content{
	font-size: 16px;
	background-color: inherit;
	margin: 0 10px 5px;
}
.content label{
	display: block;
}